# Environment variables
.env
**/.env
**/src/.env

# Dependencies
node_modules/
**/node_modules/

# Logs
logs/
*.log
npm-debug.log*

# PM2
.pm2/
pids/
*.pid

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl

# AWS Credentials
*.pem
credentials

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
